body {
  padding: 20px;
  background-color: #00ff00;
}

table {
    border-collapse: collapse;
}

table, th, td {
    padding : 20px;
    border: 1px solid black;
}


.register{
    font-size:40px;
    margin-right:100px;
    margin-left:100px;
}
.login{
    font-size:40px;
    margin-right : 100px;
    margin-left : 150px;
}
.search{
    font-size:40px;
    margin-right : 150px;
    margin-left : 150px;
}
.favourites{
    font-size:40px;
    margin-right : 100px;
    margin-left : 150px;
}
.main  {
    display:inline-block; 
    white-space: nowrap;
    background-color: #00FFFF;
    margin-right :50%;
    margin-left:20%;
    font-size:50px;
    
}
.main1  {
    background-color: #00FFFF;
    font-size:20px;
}
.main2  {
    
    font-size:30px;
}
.main3  {
    width:200px;
   
    font-size:20px;
}