<!DOCTYPE html>
<html>
<head>
  <title>Songs Finder by Michel-Daniel Litvak</title> <!-- title of the page , which reflects my API / client purpose -->
  
  <!-- loading the libraries as they are needed for the client to work -->
	<script src="js/angular.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/songs.js"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>
    
<body ng-app="myApp"> <!-- stating that the body of the page will be controlled by my angular module -->
<div>
	<h2 class='main'>Songs Finder by Michel-Daniel Litvak</h2>
</div>
  {{test}}
	<p> <a class='favourites' href="#favourites">Favourites</a> <a class='login' href="#login">Login</a> <a class='register' href="#register">Register</a></p>
	<hr>
	<div ng-view> <!-- in this div everything that is handled by the controllers will be displayed -->
		<!-- this is where the content will be displayed... -->
	</div>
</body>
</html>
