<!-- this is the html template for my detail controller,everything on this will be handled by the controller and by the route provider -->

<h1>Detail Page</h1>

<!-- the paragraph below will display the created $scope variables information -->
<p class='main1'>you selected song ID : {{ ID }}, Title : {{Title}}, Authors: {{Authors}} , Instrument : {{Instrument}} , Tuning : {{Tuning}}</p>
<p>{{ message }}</p> <!-- $scope message -->
<!-- the button below operates on the function that is written in the detail Controller, which adds the $scope variable listed above to the favourite page -->
<p><button  ng-click="addToFavourites(JSON.pase(stuff))">Add to Favourites</button></p>