<!-- this is the favourite template ,where the users will store their selected songs to display -->

<h1>Favourites Page</h1>
<p >{{ message }}</p> <!-- message created in the favourite Controller will be shown here -->
<table>
  <tr class='main1' ng-repeat="song in songs"> <!-- the ng-repeat provides with the ability to devide multiple information ( different songs) into table lines for better display of data -->
    <td>{{song}}</td><td><a ng-click="delete(song)" href="">remove</a></td> <!-- in this table cell the song that was favoured will be displayed next to the button which will delete it from the favourite list -->
  </tr>
</table>
