<!-- the login page which allows the user to be notified when he is logged in -->

<h1>Login Page</h1>
<p>Login</p>
<p>{{ message }}</p>
<h1>Username: {{user}}</h1>
  		<p>Username: <input type="text"  ng-model="username"></p> <!-- creating field for user to type in his registered account username,ng-model states that whatever user types is linked to the $scope.username -->
 		<p>Password: <input type="password" ng-model="password"></p> <!-- creating field for user to type in his registered account password,ng-model states that whatever user types is linked to the $scope.password -->
				<p><button ng-click="login()">Log-In</button> <button ng-click="clear()">Clear</button> </p>
			<!-- the paragraph above uses 'login()' function to work out if the entered 'account' matches the registeded ones, other button clears the text fields -->
			
				<p>{{logged}}</p> <!-- display welcome message if account matches registered ones -->
  		        <p>{{message4}}</p>
