<!-- Register template is to store the new accounts, which have been validated-->

<h1>Register Page</h1>
<p>Register</p>
<p>{{ message }}</p>

  		
      
      
      
      
      <form name="form" ng-app> <!-- form for the register -->
<div  ng-class="{true: 'error'}[submitted && form.name.$invalid]"> <!-- the ng-class looks at the validation and displays errors if button is pressed but the validation failed -->
        <label  for="name">Your username</label> 
        <div >  <!-- the div will check if the uername entered has passed the validation or not -->
            <input type="name" name="user" ng-model="user" required /> <!-- the text box is linked to the $scope.user and is required to be filled out -->
            <span  ng-show="submitted && form.user.$error.required">Required</span> <!-- this section is displayed if the user hit submit button ,but hasnt completed the validation process -->
             
        </div>
</div>
   <!-- same method apply for the password text box -->
   <div  ng-class="{true: 'error'}[submitted && form.pass.$invalid]">
        <label for="pass">Your password</label>
        <div >    
            <input type="password" name="pass" ng-model="pass" required />
            <span  ng-show="submitted && form.pass.$error.required">Required</span>
            
        </div>
    </div> 
   <!-- simple button to process the validation process and the register function ( if register function validation is valid the account will be stored) -->
    <button type="submit"  ng-click="submitted=true;register()">Register</button>
</form>
{{message1}}


     