<!-- this is the search template where the most important thing is the search box , which displays the data requested from my running API -->

<h1>Search Page</h1>
<p class='main2'>{{ message }}</p>
<!-- the paragraph below is a text field which is the main source of the client to get data, if enter is pressed the 'search($event)' function is triggered , which displays my APIs data -->
<p class='main3'><input type="text" ng-model="searchTerm" ng-keydown="search($event)" width="500px" size="150" autofocus></p> <!-- ng-model states which $scope object is used to trigger the event -->

<table>
  <tr class='main1'>
    <th>ID</th><th>Authors</th><th>Name</th><th>Instrument</th><th>Tuning</th><th>Link</th><th>View</th>
  </tr>
  <tr class='main1' ng-repeat="song in songs"> <!-- the ng-repeat provides with the ability to devide multiple information ( different songs) into table lines for better display of data -->
    <td>{{song.ID}}</td><td>{{song.Authors.toString()}}</td><td>{{song.Title}}</td><td>{{song.Instrument}}</td><td>{{song.Tuning}}</td><td>{{song.Link}}</td><td><a href="#detail/{{song.ID}}/{{song.Title}}/{{song.Authors}}/{{song.Instrument}}/{{song.Tuning}}">view</a></td>
  <!-- the table datas listed above are the unique $scope objects which were returned from the route parameters specified in the songs.js file. 
  This allows to display each piece of data in its individual cell. Next I pass the $scope objects to the route provider so it will redirect me to the detailed template, where the detail controller will be in charge of following actions-->
  </tr>
</table>
